/* 
    *** Estílos Registro ***
*/

/* Estilos botón qr*/

.insigniasUsuario {
    margin: auto 5%;
}

.insigniasUsuario button {
    display: flex;
    background-color: #8D2331;
    border: 2px solid #8D2331;
    color: white;
    border-radius: 10px;
    width: 40%;
    height: 32%;
    margin: 10% auto 0 auto;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.insigniasUsuario button .botonQr {
    display: flex;
    align-items: center;
    width: 25%;
    height: 25%;
}

.insigniasUsuario button .botonQr .imagenBotonQR {
    width: 100%;
    height: 100%;
}

/* Scroll */
.tamanioCarousel {
    height: 70%;
    width: 70%;
    margin: 0 auto;
}

.tamanioFrame {
    width: 100%;
    margin: 0 auto;
}

/*
    *** Barra ***
*/

.barra {
    width: 100%;
    max-height: 10%;
    background-color: #8D2331;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: center;
}

.barraSpace {
    width: 100%;
    max-height: 10%;
    background-color: #8D2331;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
}

.containerBarra {
    width: 30%;
    /*Alto de la imagen*/
}

.containerBarra .logoUdla {
    width: 100%;
    height: 100%;
}

.botonCerrarSesion {
    background-color: #8D2331;
    color: #fff;
    border: solid #8D2331;
    font-size: 1em;
    font-weight: bold;
}

/* 
    Table 
*/

.usuarios table {
    text-align: center;
    width: 96%;
    border-collapse: separate;
    margin: auto 2% auto 2%;
    table-layout: auto;
}

.usuarios thead {
    background-color: black;
    color: white;
}

.usuarios td {
    border: 1px solid #000000;
    text-align: left;
    margin: 0;
}

.usuarios th {
    border: 1px solid #9b9a9a;
    text-align: center;
    padding: 1%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin: 0;
}

.usuarios button {
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
    border: solid black;
    margin: -10% auto 10% auto;
}

.usuarios thead th:first-of-type {
    border-top-left-radius: 10px;
}

.usuarios thead th:last-of-type {
    border-top-right-radius: 10px;
}

.usuarios tbody tr:last-of-type th:first-of-type {
    border-bottom-left-radius: 10px;
}

.usuarios tbody tr:last-of-type th:last-of-type {
    border-bottom-right-radius: 10px;
}

/* 
    Insignias Frame 
*/

.tablaInsignias{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.filaInsignia {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

.imagenFila{
    position: relative;
    width: 30vw;
    height: 30vw;
}

.textoFila{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 40%;
}

.textoFila p{
    padding: 0;
    margin: 1% 0 1% 0;
}