@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: underline;
}

main{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}