/* Estilos título */
.titulo{
    color:black;
    padding-top: 2vh;
    padding-bottom: 1vh;
    text-align: left;   
    font-size:2.5vh; 
    margin-left: 5vw;
}
/* Estilos botón */
div.form button{
    display: flex;
    align-items: center;
    background-color: #8D2331;
    border: 2px solid #8D2331;
    color: white;
    border-radius: 10px;
    height: 6vh;
    margin: 7vh auto 1vh auto;
    width: 40%;
}
div.form button{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
div.form button .contenidoBoton{
    display: flex;
    align-items: center;
    width: 3.6vh;
    height: 3.6vh;
}
div.form button .contenidoBoton .imagen{
    width: 100%;
    height: 100%;
}

/* Scroll */
div.scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
div.scroll .imagen{
    margin: 0 auto 0 auto;
    height: 40vh;
    width: 24.9vh;
}
div.scroll button{
    margin: 0 auto 0 auto;
    background-color: #fff;
    border:solid #fff;
    width: 5vh;
    height: 5vh;
}
div.scroll BiLeftArrow, div.scroll BiLeftArrow{
    color:#8D2331;
}