/* Estilos título */
.titulo{
    text-align: center;   
    color:black;
}

.titulo h1{
    padding-top: 7%;
    padding-bottom: 7%;
    font-size:175%; 
}
.titulo h2{
    font-size:150%; 
    padding-bottom: 4%;
}
/* Estilos formulario*/
.form{
    color: black;
}
/* Centrar y ancho */
form.form label, form.form input{
    display: block;
	margin: 0 auto 0 auto;
	width: 70%;
    font-size: 125%;
}
/*Estilizar inputs y botón*/
form.form input:not([type^="submit"]){
    border: 2px solid #8D2331;
    text-align: left;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin: 2% auto 4% auto;
}
form.form input:not([type^="submit"]):focus{
    background-color: lightgoldenrodyellow;
}
form.form input[type^="submit"]{
    background-color: #8D2331;
    border: 2px solid #8D2331;
    color: white;
    border-radius: 10px;
    margin: 10% auto 15% auto;
    width: 75%;
    padding-top: 3%;
    padding-bottom: 3%;
}


/* Estilos link */
.link{
    color: black;
    text-decoration: none;
    display: block;
	margin: 0 auto 0 auto;
    text-decoration: underline;
    font-size: 125%;
}
.linkCenter{
    padding-top: 5%;
    text-align: center;
}