/* Estilos título */
.titulo{
    color:#8D2331;
    padding-top: 1vh;
    padding-bottom: 0vh;
    text-align: center;   
    font-size:3.5vh; 
}
/* Estilos formulario*/
.form{
    color: #8D2331;
}
/* Centrar y ancho */
form.form label, form.form input, form.form select{
    display: block;
	margin: 0 auto 0 auto;
	width: 70%;
    font-size: 3vh;
}
/*Estilizar inputs y botón*/
form.form input:not([type^="submit"]){
    color: #8D2331;
    border: 2px solid #8D2331;
    text-align: left;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin: 1vh auto 2vh auto;
}
form.form input:not([type^="submit"]):focus{
    background-color: lightgoldenrodyellow;
}
form.form input[type^="submit"]{
    background-color: #8D2331;
    border: 2px solid #8D2331;
    color: white;
    border-radius: 10px;
    height: 6vh;
    margin: 4vh auto 5vh auto;
    width: 75%;
}

/* Estilos link */
.link{
    color: #8D2331;
    text-decoration: underline;
    display: block;
	margin: 0 auto 0 auto;
    text-decoration: underline;
    font-size: 3vh;
}
.linkCenter{
    text-align: center;
}